.card {
    margin: 0.2cm;
    padding: 0px;
    box-shadow: 2px 6px 8px 0 grey;
    height: 10cm;
    width: 7cm;
    transition: all 0.3s;
}

.card img {
    height: 7cm;
}

.card-body {
    height: 3cm;
    width: 7cm;
    padding: 0px !important;
}

.card-text {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 1px;
}




.card:hover {
    box-shadow: 4px 8px 10px 0 grey;
    transform: scale(1.05);
}


.price {
    color: black;
    text-decoration: none !important;
    font-size: 15px;
    margin: 0px;

}

.btn-custom {
    margin-top: 7px;
}

.card-anchor {
    text-decoration: none !important;
}

.heart {
    color: inherit;
    color: black !important;
    text-decoration: none !important;
    padding-left: 10px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.heart:hover {
    color: red !important;
    transform: scale(1.3);

}