* {
    font-family: cursive;
}

.showsizechart {
    color: rgb(135, 132, 132) !important;
}

.showsizechart:hover {
    text-decoration: underline !important;
    color: rgb(171, 165, 165) !important;
    cursor: pointer;

}

.sizechart {
    width: 10cm;
}

.bigimg {
    width: 10cm;
    height: 10cm;
}

.smallimg {
    display: flex;
    justify-content: space-between;
    height: 2.5cm;
    width: 2cm;
}

.smallimg:hover {
    cursor: pointer;
    box-shadow: 4px 8px 10px 0 grey;
    transform: scale(1.05);

}

.titles {
    text-align: center !important;
    font-size: 30px;
    font-family: cursive;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

.counter {

    display: flex;
    border-radius: 3px;
    border: 1px solid;
    width: 3cm;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;

}

.number {
    text-align: center;
    border-left: 1.5px solid rgb(0, 0, 0, 0.2);
    border-right: 1.5px solid rgb(0, 0, 0, 0.2);
    padding-left: 10px;
    padding-right: 10px;
}

.plus {
    font-size: 23px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
}

.minus {
    font-size: 23px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}
.add-to-cart{
    width: 3.5cm!important;
}