/* make card button get smaller in mobile screen */
@media (max-width: 768px) {
    .card {
        width: 2.5cm;
        height: 5cm;
        padding: 0px !important;
        margin: 0.05cm;

    }

    .card img {
        height: 3cm;
        padding: 0px !important;

    }


    .card-body {
        padding: 0px !important;
        width: 2.5cm;
        height: 2cm;
    }

    .card-text {
        font-size: 12px;
        font-weight: bold;

    }

    .price {
        font-size: 10px;
        margin: 0px;
    }

    .add-to-cart {
        text-align: center;
        font-size: 6px;
        width: 55%;
        padding: 4px;
        margin-top: 9px;

    }

    .heart {
        color: inherit;
        color: black !important;
        text-decoration: none !important;
        padding-left: 5px;
        font-size: 15px;
        transition: transform 0.3s ease-in-out;
        padding-top: 7px;
    }

    .heart:hover {
        color: red !important;
        transform: scale(1.3);

    }

    .add-to-cart:hover i {
        display: inline-block;
        padding-right: 7px;

    }

    .add-to-cart:hover {
        background-color: #0786da;
        color: #fff;
        padding-right: 15px;
    }

    .card-anchor button {
        text-decoration: none !important;
        width: 1.4cm !important;
        height: 0.5cm !important;
    }

}