.header5 {
  margin-top: 2cm;
  color: white;
  text-align: center;
  font-family: "Edwardian Script ITC";
  font-size: 60px;
  text-rendering: optimizeLegibility;
}

.mission-vision {
  margin-left: 0.6cm;
  margin-top: 4px;
  font-weight: 700;
  color: black;

}





.paragraph {
  margin-left: 1cm;
  margin-right: 1cm;
  ;

  font-size: 12px;
  color: white;
  line-height: 25px;
  text-align: justify;
  text-justify: inter-word;
  font-weight: bold;
}



.header2 {
  font-weight: 700;
  color: black;
  margin-top: 1.5cm;
  margin-left: 1cm;
  text-align: left;

}

.first {
  background-color: #3E9197;

}

.firstCol {
  background-color: #1F90AB;
}

#ogo {
  display: block;
  width: 6cm;
  height: 5cm;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

}

.Header1 {
  text-align: center;
  color: #008fbe;
  font-weight: bolder;
  margin-top: 70px;
  margin-bottom: 2cm;
}

#boy {
  width: 102.1%;
  height: 100%;
  margin-right: 0cm;
  margin-left: 0cm;
  border-radius: 0%;

}