{% extends 'Home/base.html' %}

{% block changes %}

<div id="div" class="Form my-4 mx-5">
    <div class="container">
        <div id="firstrow" class="row no-gutters">
            <div class="col-lg-4">
                <img src="img/kids.jpg" alt="kids" class="img-fluid">
            </div>
            <div class="col-lg-6 px-5 pt-5">
                <h2 class="font-weight-bold py-2">Sign up to start shopping</h2>
                <form action="" method=POST id="form">
                     {% csrf_token %}
                    
                </form>

            </div>

        </div>
    </div>
</div>

{% endblock %}