{% extends 'Home/toddler.html' %}
{% block toddlercontent %}

{% for t in toddler %}
 <div class="col-12 col-md-6 col-lg-4 col-xl-3 ">
    
    <div class="card mx-auto {{ t.gender }} ">
        <a class="card-anchor" href="{% url 'toddler-view' toddler_name=t.name toddler_price=t.price toddler_img=t.img.url toddler_productID=t.productID iddddd=t.id %}">
            <img src="{{ t.img.url }}" class="card-img-top" alt="...">
            <div class="card-body product_data" >
                <p class="card-text">{{ t.name }}</p>
                <div class="cardprice">
                    <p class="currency">EGP
                    <p class="price">{{ t.price }}</p>
                    </p>
                </div>
                <br>
                        {% csrf_token %}
                <input type="hidden" value="{{ t.id }}" class="prod_id">
                <div class="justify-content-center" style="display: flex">
                    
                        <button class="add-to-cart">Add to Cart<i class="bi bi-cart2"></i>
                        </button>
                        <div class="heart"> <i class="bi bi-suit-heart"></i></div>
                    
                    

                </div>

            </div>
        </a>
    </div>
    
</div>

{% endfor %}
{% endblock%}